a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    padding: 20px;
    margin: 0px;
}

#grid ol {
    padding-left: 40px;
}

body {
    margin: 0px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article {
    padding: 20px;
}

@media(max-width:600px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
        border-bottom: 1px solid gray;
    }
}